<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <title>Hello</title>
    </head>
    <body>
        <div class="">
            <h1>Word Search: {{wordFind}}</h1>

            {% for filesname in filesFound.keys() %}
                <p>File: {{filesname}}</p>
                {% for pages in filesFound[filesname]['pages'] %}
                    <li>Found in Page: {{pages}}</li>
                {% endfor %}
            {% endfor %}
            
        </div>
        <footer>
            &copy; Copyright 2020 | HUE3
        </footer>
    </body>
</html>
